body {
  margin-top: 0%;
  padding-top: 0%;
  background-color: beige;
}
.number {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  /* background-color: gold; */
  border-style: solid !important;
  border: 5px;
  border-color: black;
  width: 50%;
  align-items: center;
}

img {
  width: auto;
  height: 40vh;
}

.optionGrid {
  /* background-color: beige; */
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 10rem;
  row-gap: 3rem;
  margin-top: 0%;
  padding-top: 2rem;
  grid-column-start: 2 !important;
}

.button {
  height: 4rem;
  width: 10rem;
  border-radius: 5rem;
  cursor: pointer;
  background-color: gold;
  font-family: "Montserrat";
  /* font-weight: bolder; */
  font-size: xx-large;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#nepaliNumber {
  /* background-color: red; */
  font-size: 12rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
}
#submitButton:hover {
  background-color: white;
}

@media screen and (max-width: 480px) {
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80% !important; /* Could be more or less, depending on screen size */
    font-family: "Montserrat";
  }

  #doggoImage {
    height: 15rem !important;
    width: 10rem !important;
    border-radius: 2rem;
  }

  #nepaliNumber {
    /* background-color: red; */
    font-size: 5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    align-items: center;
  }

  .numberDiv {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .optionGrid {
    /* background-color: beige; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 3rem;
  }
  .number {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 100%;
  }
  .doggo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 30vh;
  }

  .button {
    width: 9rem;
    height: 3rem;
  }

  #displayText {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
  }

  .scores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 9%;
  }
}

.retreiver {
  height: 5rem;
  width: 4rem;
}

.doggo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 0.5rem;
}

#displayText {
  font-family: "Courier New", Courier, monospace;
}

#doggoImage {
  height: 20rem;
  width: 14rem;
  border-radius: 2rem;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.correctDiv,
.mistakeDiv {
  font-family: "Courier New", Courier, monospace;
  background-color: gold;
  font-size: larger;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

#nextButton {
  background-color: white;
  text-decoration: double;
  height: 3rem;
  font-size: large;
  border: #888;
}

#newGame {
  background-color: white;
  text-decoration: double;
  height: 3rem;
  font-size: large;
  border: #888;
}

.numberDiv {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: gold;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 23%; /* Could be more or less, depending on screen size */
  font-family: "Montserrat";
  border-radius: 1rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.lowerDiv {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 3rem;
}

#inputDiv {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  column-gap: 1rem;
  align-items: center;
}

#submitButton {
  background-color: gold;
  text-decoration: double;
  height: 3rem;
  font-size: large;
  font-family: "Montserrat";
  border-radius: 2rem;
  border: #888;
}

#inputField {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  font-family: "Montserrat";
  text-align: center;
  font-size: larger;
  box-sizing: border-box;
  border: #aaa;
}

#correctAnswerDiv {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#correctAnswer {
  color: green;
  font-family: "Montserrat";
  font-size: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
/* .button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
} */
